.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #10021E;
  text-align: center;
  padding: 10px;
}

.hero-overlay {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.hero-overlay h1 {
  font-family: "Jockey One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 8.5rem;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.hackathonix {
  color: #8B41DD;
}

.gradient-25 {
 color:#8B41DD;
}

.register-btn {
  padding: 10px 20px;
  background-color: transparent;
  color: black;
  font-family: "Goldman", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  border: 3px solid black;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 35px;
  position: relative;
  background: linear-gradient(to right, #9A39A7, #623C73);;
}



@media (max-width: 1024px) {
  .hero-overlay h1 {
    font-size: 3rem;
  }
  .register-btn {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 2.5rem;
  }

  .register-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .hero-overlay h1 {
    font-size: 8.5rem; /* Adjust heading size for mobile */
    text-align: center;
    line-height: 1.2;
    text-align: left;
    margin-left: -20px;
  }

  .hero-overlay h1::after {
    content: '\A'; /* Insert a line break */
    white-space: pre-wrap;
  }

  .hero-overlay h1 {
    word-break: break-word; /* Allow breaking the word properly */
  }

  .register-btn {
    font-size: 1.8rem;
    padding: 6px 12px;
    position: relative; /* Ensure the button can move with top/left properties */
    left: 70px; /* Moves the button slightly to the right */
    top: -140px; 
  }
} 